.navbar-right {
  float: right!important;
  margin-right: -15px;
}

.logout-link::before {
  content: "\F1C3";
  font-size: 14px;
  margin-right: 5px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Book info */
.product {
  display: flex;
  align-items: center;
  background-color: #d6dee6;
  padding: 15px;
  margin-top: 20px;
  border-radius: 15px;
}

.product-image img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
.book-details {
  flex: 1;
}
.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.book-description {
  margin-bottom: 8px;
}

.button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  height: fit-content;
}

/* Comment Section */
.comment-section {
  margin-top: 30px;
}
.comment {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  background-color:#f8f8f8
}
.comment-author {
  font-weight: bold;
  color: #333;
}
.comment-date {
  font-size: 12px;
  color: #888;
}
.comment-text {
  margin-top: 5px;
}

/* Submit Comment */
.make-comment {
  display: flex;
  width: 70%;
  padding: 5px;
  margin:auto;
  background-color: #f8f8f8;
  border-radius: 5px;
  align-items: center;
}

.form-input {
  margin: 5px;
}

.form-input input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Query Forms */
.form-group {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cfcece;
  background-color:#f3f4f7;
  border-radius: 4px;
  width: 50%;
}

.scrollbox {
  max-height: 400px;
  overflow-y: auto;
}