{% extends "base.html" %}{% block title %}Books{% endblock %} {% block content
%}
<h1 align="center">
  List of books in
  <span style="color: darkblue">{{school}} Library</span>
</h1>
<br />
<ul>
  {% for row in rows %}
  <li class="product">
    <div style="margin-right: 7px">
      <img
        src="{{image_url[loop.index0]}}"
        alt="{{ row[0] }}"
        width="100"
      />
    </div>
    <div>
      <h4><a href="/books/{{row[3]}}">{{ row[0] }}</a></h4>
      <p>Number of Copies: {{ row[1] }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
