{% extends "base2.html" %}
{% block title %} {{name}} {% endblock %}
{% block navbar %}
{% if role == 'school_admin' %}
<a
  class="nav-item nav-link"
  id="school-admin"
  href="/school-admin"
  >School Admin</a
>  
{% endif %}
{% endblock %}

{% block content %}
  <div class="container">
      <h1 style="padding-top:10px">{{name}}</h1>
      <h3 style="color: #888">{{writer}}</h3>
      <div class="product">
          <img src="{{image_url}}"
          alt="Book Cover"
            style="margin:20px;"
            width="250">
        <div class="book-details">
          <h2 class="product-title">Information</h2>
          <p class="book-description"><b>Publisher:</b> {{publisher}}</p>
          <p class="book-description"><b>ISBN:</b> {{isbn}}</p>
          <p class="book-description"><b>Pages:</b> {{num_pages}}</p>
          <p class="book-description"><b>Language:</b> {{language}}</p>
          <p class="book-description"><b>Categories:</b> {{categories}}</p>
          <p class="book-description"><b>Keywords:</b> {{keywords}}</p>
          <p class="book-description"></br><b>Abstract:</b></br>{{abstract}}</p>
          <p class="book-description"><b></br>Available:</b> {{available[1]}}/{{available[0]}}</p>
          <button class="button">Order</button>
        </div>
    </div>
    
    <div class="comment-section">
        <h3>Comments (★{{rating}}/5)</h3>
        {% if num_comments > 0: %}
        {% for comment in comments %}
        <div class="comment">
          <div class="comment-author">{{comment[0]}} ({{comment[1]}}★)</div>
          <div class="comment-date">{{comment[3]}}</div>
          <div class="comment-text">{{comment[2]}}</div>
        </div>
        {% endfor %}
        {% else %}
        <p class="comment">Wow, there are no comments... Why not break the ice by making your own?</p>
        {% endif %}
      </div>
    </div>

    <form action="/" method="post">
    <div class="make-comment">
        <div class="form-input" style="width:60px">
          <select>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
        <div class="form-input" style="width:70%">
          <input type="text" id="comment" name="comment" placeholder="Write your opinion...">
        </div>
        <div style="margin-left:4px">
            <button class="button">Submit Rating</button>
        </div>
    </div>
    </form>

  </div>
  <br>
{% endblock %}