{% extends "base2.html" %}{% block title %}Home{% endblock %}{% block navbar %}
{% if role == 'school_admin' %}
<a
  class="nav-link"
  id="school-admin"
  href="/school-admin"
  >School Admin</a
>
{% endif %} {% endblock %} {% block content %}
<div style="display: flex; justify-content: center; align-items: center">
  <svg
    fill="#0000000"
    height="30px"
    width="30px"
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 512 512"
    xml:space="preserve"
  >
    <g>
      <g>
        <path
          d="M512,179.2c0-7.074-5.726-12.8-12.8-12.8h-14.933v-128H499.2c7.074,0,12.8-5.726,12.8-12.8c0-7.074-5.726-12.8-12.8-12.8
			H140.8c-49.399,0-89.6,40.201-89.6,89.6c0,25.079,10.428,47.718,27.093,64H12.8c-7.074,0-12.8,5.726-12.8,12.8S5.726,192,12.8,192
			h12.8v128H12.8C5.726,320,0,325.726,0,332.8c0,7.074,5.726,12.8,12.8,12.8h65.493c-16.666,16.282-27.093,38.921-27.093,64
			c0,49.399,40.201,89.6,89.6,89.6h358.4c7.074,0,12.8-5.726,12.8-12.8s-5.726-12.8-12.8-12.8h-14.933v-128H499.2
			c7.074,0,12.8-5.726,12.8-12.8c0-7.074-5.726-12.8-12.8-12.8h-65.493c16.666-16.282,27.093-38.921,27.093-64
			s-10.428-47.718-27.093-64H499.2C506.274,192,512,186.274,512,179.2z M458.667,345.6v128H140.8c-35.285,0-64-28.715-64-64
			c0-35.285,28.715-64,64-64h230.4H458.667z M435.2,256c0,35.285-28.715,64-64,64H140.8H51.2V192h89.6h230.4
			C406.485,192,435.2,220.715,435.2,256z M458.667,166.4H371.2H140.8c-35.285,0-64-28.715-64-64s28.715-64,64-64h317.867V166.4z"
        />
      </g>
    </g>
  </svg>
  <h1
    align="center"
    style="margin-left: 10px"
  >
    Home Page
  </h1>
</div>
<!-- Home page of students and teachers -->
{% if role == 'student' or role == 'teacher' %}
<h2>My Books</h2>
{% if data["num_rented"] == 0 %}
  <div class="product">
    <p>You do not have any rented books.</p>
  </div>
{% else %}
  {% for book in data["rented"]%}
  <div class="product">
    <img src="{{book[8]}}"
          alt="Book Cover"
            style="margin:20px;"
            width="100">
        <div class="book-details">
          <h3 class="product-title">{{book[1]}}</h3>
          <p class="book-description"><b>Publisher:</b> {{book[2]}}</p>
          {% if book[-1] == 'late to return'%}
            <p class="book-description"><b>Status:</b> <font color="red">{{book[-1]}}</font></p>
          {% else %}
          <p class="book-description"><b>Status:</b> {{book[-1]}}</p>
          {% endif %}
          {% if book[-1] =='reservation' %}
            <p class="book-description"><b>Reserved since:</b> {{book[-4]}}</p>
          {% else %}
          <p class="book-description"><b>Rented since:</b> {{book[-3]}}</p>
          {% endif %}
        </div>
  </div>
  {% endfor %}
{% endif %}

<br>
<h3>Older Books</h3>
  {% if data["num_returned"] == 0 %}
  <div class="product">
    <p>There are no books in your history.</p>
  </div>
{% else %}
  {% for book in data["returned"]%}
  <div class="product">
    <img src="{{book[8]}}"
          alt="Book Cover"
            style="margin:20px;"
            width="100">
        <div class="book-details">
          <h3 class="product-title">{{book[1]}}</h3>
          <p class="book-description"><b>Publisher:</b> {{book[2]}}</p>
          <p class="book-description"><b>Status:</b> {{book[-1]}}</p>
            <p class="book-description"><b>Returned at:</b> {{book[-2]}}</p>
        </div>
  </div>
  {% endfor %}
{% endif %}

<br><br><br>
{% endif %}
{% endblock %}
