{% extends "base.html" %}{% block title %}School Admin Page{% endblock %}{%
block navbar %} {% if role == 'school_admin'%}
<li class="nav-item">
  <a
    class="nav-link"
    id="queries"
    href="/queries"
  >
    Advanced Tools
  </a>
</li>
<li class="nav-item">
  <a
    class="nav-link"
    id="manage-books"
    href="/manage-books"
  >
    Manage books
  </a>
</li>
{% endif %} {% endblock %}{% block content %}
<form
  method="POST"
  action="/manage-books"
  enctype="multipart/form-data"
>
  <h3 align="center">Insert Book</h3>
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Enter title"
      required
    />
  </div>
  <div class="form-group">
    <label for="writer_input">Writer(s)</label>
    <input
      type="text"
      class="form-control"
      id="writer_input"
      name="writer_input"
      placeholder="Enter writer(s)"
      required
    />
  </div>
  <div class="form-group">
    <label for="lang">Language</label>
    <select
      class="form-control"
      id="lang"
      name="lang"
    >
      <option value="Greek">Greek</option>
      <option value="English">English</option>
      <option value="French">French</option>
      <option value="German">German</option>
    </select>
  </div>
  <div class="form-group">
    <label for="publisher">Publisher</label>
    <input
      type="text"
      class="form-control"
      id="publisher"
      name="publisher"
      placeholder="Enter publisher"
      required
    />
  </div>
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input
      type="number"
      class="form-control"
      id="isbn"
      name="isbn"
      placeholder="Enter ISBN"
      required
    />
  </div>
  <div class="form-group">
    <label for="number_of_pages">Number of pages</label>
    <input
      type="number"
      class="form-control"
      id="number_of_pages"
      name="number_of_pages"
      placeholder="Enter Number of pages"
      required
    />
  </div>
  <div class="form-group">
    <label for="categories">Categories</label>
    <input
      type="text"
      class="form-control"
      id="categories"
      name="categories"
      placeholder="Enter categories separated with comma (,)"
      required
    />
  </div>
  <div class="form-group">
    <label for="abstract">Abstract</label>
    <input
      type="text"
      class="form-control"
      id="abstract"
      name="abstract"
      placeholder="Enter abstract"
      required
    />
  </div>
  <div class="form-group">
    <label for="keywords">Keywords</label>
    <input
      type="text"
      class="form-control"
      id="keywords"
      name="keywords"
      placeholder="Enter keywords separated with comma (,)"
      required
    />
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input
      type="file"
      class="form-control"
      id="image"
      name="image"
      placeholder="Upload Image"
      required
    />
  </div>
  <div
    class="form-group"
    align="center"
    style="background-color: white; border-color: white"
  >
    <button
      type="submit"
      class="btn btn-primary"
      name="insert-book"
    >
      Insert
    </button>
  </div>
</form>
<br />
<br />

<h3 align="center">Books in My School</h3>
<ul
  class="scrollbox"
  style="height: 1000px"
>
  {% for info in infos %}
  <li class="product">
    <div style="margin-right: 7px">
      <img
        src="{{image_url[loop.index0]}}"
        alt="{{ info[0] }}"
        width="50"
      />
    </div>
    <div>
      <h4><a href="/books/{{info[3]}}">{{ info[0] }}</a></h4>
      <p>Number of Copies: {{ info[1] }}</p>
      <form
        action="/manage-books"
        method="post"
      >
        <button
          name="add-book-copy"
          id="add-book-copy"
          class="btn btn-primary btn-success"
        >
          +
        </button>
        <button
          name="remove-book-copy"
          id="remove-book-copy"
          class="btn btn-primary btn-danger"
        >
          -
        </button>
        <input
          type="hidden"
          name="book_id"
          value="{{info[3]}}"
        />
      </form>
    </div>
  </li>

  {% endfor %}
</ul>

<h3 align="center">Other books in Database</h3>

<ul
  class="scrollbox"
  style="height: 1000px"
>
  {% for book in new_books %}
  <li class="product">
    <div style="margin-right: 7px">
      <img
        src="{{new_book_image_url[loop.index0]}}"
        alt="{{ book[0] }}"
        width="50"
      />
    </div>
    <div>
      <h4><a href="/books/{{book[1]}}">{{ book[0] }}</a></h4>
      <p>Number of Copies: 0</p>
      <form
        action="/manage-books"
        method="post"
      >
        <button
          name="add-new-book"
          id="add-new-book"
          class="btn btn-primary btn-success"
        >
          +
        </button>
        <input
          type="hidden"
          name="new_book_id"
          value="{{book[1]}}"
        />
      </form>
    </div>
  </li>

  {% endfor %}
</ul>
{% endblock %}
