{% extends "base.html" %}{% block title %}Profile{% endblock %} {% block navbar
%} {% if role == 'school_admin'%}
<li class="nav-item">
  <a
    class="nav-link"
    id="queries"
    href="/queries"
    >Advanced Tools</a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link"
    id="manage-books"
    href="/manage-books"
  >
    Manage books
  </a>
</li>
{% endif %}{% endblock %}{% block content %}
<h1 style="padding-top: 10px; color: #2b2020">
  {{info[0]}} {{info[1]}}'s Profile
</h1>
<div class="product">
  <div class="book-details">
    <h2 class="product-title">Information</h2>
    <p class="book-description"><b>First Name:</b> {{info[0]}}</p>
    <p class="book-description"><b>Last Name:</b> {{info[1]}}</p>
    <p class="book-description"><b>School:</b> {{school}}</p>
    <p class="book-description"><b>Username:</b> {{user.username}}</p>
    <p class="book-description"><b>Birthdate:</b> {{info[2]}}</p>
    <p class="book-description"><b>Role:</b> {{role}}</p>
  </div>
  {% if role == 'teacher' %}
  <div class="modify-info">
    <h3 class="modify-title">Modify Information</h3>
    <form
      method="POST"
      action="/profile"
    >
      <div class="">
        <label for="name">First Name:</label>
        <input
          type="text"
          id="name"
          name="name"
        /><br />
        <label for="last-name">Last Name:</label>
        <input
          type="text"
          id="lastname"
          name="lastname"
        /><br />
        <button
          type="submit"
          name="name"
          class="btn btn-primary"
        >
          Change Name
        </button>
      </div>
    </form>
    <br />
    <form
      method="POST"
      action="/profile"
    >
      <div class="">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
        /><br />
        <button
          type="submit"
          name="username"
          class="btn btn-primary"
        >
          Change username
        </button>
      </div>
    </form>
    <br />
    <form
      method="POST"
      action="/profile"
    >
      <div class="">
        <label for="birthdate">Birthdate:</label>
        <input
          type="date"
          id="birthdate"
          name="birthdate"
        /><br />
        <button
          type="submit"
          name="birthdate"
          class="btn btn-primary"
        >
          Change Birthdate
        </button>
      </div>
    </form>
    {% endif %}
    <form
      method="POST"
      action="/profile"
    >
      <label for="password">Old Password:</label>
      <input
        type="text"
        id="password"
        name="password"
        required
      />
      <label for="password2">New Password:</label>
      <input
        type="text"
        id="password2"
        name="password2"
      />
      <button
        type="submit"
        name="change-password"
        class="btn btn-primary"
      >
        Change Password
      </button>
    </form>
  </div>
</div>
{% endblock %}
