{% extends "base.html" %}{% block title %}Queries{% endblock %} {% block content
%}
<h1 align="center">Advanced Tools</h1>
<div class="container">
  <!--3.1.1 Rents per School -->
  <form
    action="/run-query"
    method="post"
  >
    <div class="form-group">
      <button
        type="submit"
        name="query1.1"
        class="btn btn-primary"
      >
        Rents per School
      </button>
      <div>
        <label>
          <input
            type="checkbox"
            name="yearCheckbox"
            onchange="toggleInputs()"
          />
          Select Year
        </label>

        <label>
          <input
            type="checkbox"
            name="monthCheckbox"
            onchange="toggleInputs()"
          />
          Select Month
        </label>

        <div
          id="yearInput"
          style="display: none"
        >
          <label for="year">
            Year:
            <input
              id="year"
              type="number"
              name="year"
              min="1950"
              max="2025"
            />
          </label>
        </div>

        <div
          id="monthInput"
          style="display: none"
        >
          <label for="month">
            Month:
            <input
              id="month"
              type="month"
              name="month"
            />
          </label>
        </div>
      </div>

      <ul>
        {% if query1_1 %} {% for query in query1_1 %}
        <li>{{query[0]}} | {{query [1]}}</li>
        {% endfor %} {% endif %}
      </ul>
    </div>
  </form>
  
  <!--3.1.2 Filter by Categories -->
  <form
    action="/run-query"
    method="post"
  >
    <div class="form-group">
      <button
        type="submit"
        name="query1.2"
        class="btn btn-primary"
      >
        Filter by Categories
      </button>
      <select
        id="category"
        name="category"
      >
        {% for category in categories %}
        <option value="{{category}}">{{category}}</option>
        {% endfor %}
      </select>
      {% if query1_2 %}
      <br /><br />
      <div class="scrollbox">
        <h6 style="text-align: left; text-decoration-line: underline">
          Writers inside
          <span style="color: navy">"{{q2_category}}"</span> category:
        </h6>
        <ul>
          {% for query in query1_2 %}
          <li>{{query[0]}} {{query[1]}}</li>
          {% endfor %}
        </ul>
        <br /><br />
        <h6 style="text-align: left; text-decoration-line: underline">
          Teachers that have rented from<span style="color: navy">
            "{{q2_category}}"</span
          >
          category the past year:
        </h6>
        <ul>
          {% for query in query1_2help %}
          <li>{{query[0]}} {{query[1]}}</li>
          {% endfor %} 
        </ul>
        {% endif %}
      </div>
    </div>
  </form>
  
  <!--3.1.3 Top 10 Teachers in rents under 40 years old -->
  <form
    action="/run-query"
    method="post"
  >
    <div class="form-group">
      <button
        type="submit"
        name="query1.3"
        class="btn btn-primary"
      >
        Top 10 Teachers in rents under 40 years old
      </button>
      {% if query1_3 %}
      <ul>
        {% for query in query1_3 %}
        <li>{{query[3]}} {{query[1]}} {{query [2]}}</li>
        {% endfor %} {% endif %}
      </ul>
    </div>
  </form>
  
  <!--3.1.5 Equal number of Rentals -->
  <form
    action = "/run-query"
    method = "post"
  >
    <div class="form-group">
      <button
      type="submit"
      name="query1.5"
      class="btn btn-primary"
      >
        School Admins with equal number of rentals
      </button>
      <p></p>
      <label for="year">
        Year:
        <input
          id="year"
          type="number"
          name="year"
          min="1950"
          max="2025"
        />
      </label>
      {% if query1_5 %}
      <p>Pairs found:</p>
      {% for pair in query1_5 %}
      <p>{% for sa in query1_5[pair] %}{{sa}} {% endfor %} ({{pair}})</p>
      {% endfor %}
      {% endif %}
    </div>
  </form>

  <!--3.1.7 Writers with at least 5 books less than the one with the most -->
  <form
    action = "/run-query"
    method = "post"
    >
    <div class="form-group">
      <button
      type="submit"
      name="query1.7"
      class="btn btn-primary"
      >
        Writers with at least 5 books less than the one with the most
      </button>
      {% if query1_7 %}
        <ul class="scrollbox">
          {% for writer in query1_7 %}
            <li>{{writer[0]}} {{writer[1]}} - {{writer[2]}} books</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </form>

  <!--3.2.1 Filter Books -->
  <form
    action="/run-query"
    method="post"
  >
    <div class="form-group">
      <button
        type="submit"
        name="query2.1"
        class="btn btn-primary"
      >
        Filter books (2.1)
      </button>
      <h6 style="text-align: left; text-decoration-line: underline">
        Filter by:
      </h6>
      <div>
        <label>
          <input
            type="checkbox"
            name="titleCheckbox"
            onchange="toggleInputs2()"
          />
          Title
        </label>
        <label>
          <input
            type="checkbox"
            name="categoryCheckbox"
            onchange="toggleInputs2()"
          />
          Category
        </label>
        <label>
          <input
            type="checkbox"
            name="writerCheckbox"
            onchange="toggleInputs2()"
          />
          Writer
        </label>
        <label>
          <input
            type="checkbox"
            name="copiesCheckbox"
            onchange="toggleInputs2()"
          />
          Number of Copies
        </label>
        <div
          id="titleInput"
          style="display: none"
        >
          <label for="title">
            Title:
            <input
              type="text"
              id="title"
              name="title"
            />
          </label>
        </div>

        <div
          id="categoryInput"
          style="display: none"
        >
          <label for="category">
            Category:
            <select
              id="category"
              name="category"
            >
              {% for category in categories %}
              <option value="{{category}}">{{category}}</option>
              {% endfor %}
            </select>
          </label>
        </div>
        <div
          id="writerInput"
          style="display: none"
        >
          <label for="writer">
            Writer:
            <input
              type="text"
              id="writer"
              name="writer"
            />
          </label>
        </div>

        <div
          id="copiesInput"
          style="display: none"
        >
          <label for="copies">
            Copies:
            <input
              type="number"
              id="copies"
              name="copies"
              min="0"
              step="1"
            />
          </label>
        </div>
      </div>

      {% if query2_1 %}
      <ul class="scrollbox">
        {% for book in query2_1 %}
        <li class="product">
          <div style="margin-right: 7px">
            <img
              src="{{query2_1help[loop.index0]}}"
              alt="{{ book[1] }}"
              height="100"
            />
          </div>
          <div>
            <h5><a href="/books/{{book[2]}}">{{ book[3] }}</a></h5>
            <p>{{book[0]}} {{book[1]}}</p>
          </div>
        </li>
        {% endfor %} {% endif %}
      </ul>
    </div>
  </form>

  <!--3.2.3 Average Rating -->
  <form
    action="/run-query"
    method="post"
  >
    <div class="form-group">
      <button
        type="submit"
        name="query2.3"
        class="btn btn-primary"
      >
        Average Rating
      </button>
      <h6 style="text-align: left; text-decoration-line: underline">
        Filter by:
      </h6>
      <div>
        <label>
          <input
            type="checkbox"
            name="userCheckbox"
            onchange="toggleInputs3()"
          />
          User
        </label>
        <label>
          <input
            type="checkbox"
            name="categoryCheckbox2"
            onchange="toggleInputs3()"
          />
          Category
        </label>
        <div id="userInput"
          style="display: none"
        >
          <label for="user">
            User:
            <select
              id="user"
              name="user"
            >
              {% for user in school_users %}
              <option value="{{user[0]}}">{{user[1]}} ({{user[0]}})</option>
              {% endfor %}
            </select>
          </label>
        </div>
        <div id="categoryInput2"
          style="display: none"
        >
          <label for="category">
            Category:
            <select
              id="category"
              name="category"
            >
              {% for category in categories %}
              <option value="{{category}}">{{category}}</option>
              {% endfor %}
            </select>
          </label>
        </div>
      </div>
      {% if query2_3 %}
        <p>{{query2_3[1]}} <b>Average Rating: </b>{{query2_3[0]}}</p>
      {% endif %}
    </div>
  </form>

</div>
<script>
  document.getElementById("copiesInput").addEventListener("input", function () {
    var value = parseInt(this.value);
    if (isNaN(value) || value < 0) {
      this.setCustomValidity("Please enter a positive integer.");
    } else {
      this.setCustomValidity("");
    }
  });
</script>
{% endblock %}
