{% extends "base.html" %}{% block title %}Queries{% endblock %} {% block navbar
%} {% if role == 'school_admin'%}
<a
  class="nav-link"
  id="queries"
  href="/queries"
  >Advanced Tools</a
>
{% endif %}{% endblock %} {% block content %}
<h1 align="center">Advanced Tools</h1>
<div class="container">
  <!--3.2.1 Filter Books -->
  <form
    action="/run-query"
    method="post"
  >
    <div class="form-group">
      <button
        type="submit"
        name="query2.1"
        class="btn btn-primary"
      >
        Filter books
      </button>
      <h6 style="text-align: left; text-decoration-line: underline">
        Filter by:
      </h6>
      <div>
        <label>
          <input
            type="checkbox"
            name="titleCheckbox"
            onchange="toggleInputs2()"
          />
          Title
        </label>
        <label>
          <input
            type="checkbox"
            name="categoryCheckbox"
            onchange="toggleInputs2()"
          />
          Category
        </label>
        <label>
          <input
            type="checkbox"
            name="writerCheckbox"
            onchange="toggleInputs2()"
          />
          Writer
        </label>
        <label>
          <input
            type="checkbox"
            name="copiesCheckbox"
            onchange="toggleInputs2()"
          />
          Number of Copies
        </label>
        <div
          id="titleInput"
          style="display: none"
        >
          <label for="title">
            Title:
            <input
              type="text"
              id="title"
              name="title"
            />
          </label>
        </div>

        <div
          id="categoryInput"
          style="display: none"
        >
          <label for="category">
            Category:
            <select
              id="category"
              name="category"
            >
              {% for category in categories %}
              <option value="{{category}}">{{category}}</option>
              {% endfor %}
            </select>
          </label>
        </div>
        <div
          id="writerInput"
          style="display: none"
        >
          <label for="writer">
            Writer:
            <input
              type="text"
              id="writer"
              name="writer"
            />
          </label>
        </div>

        <div
          id="copiesInput"
          style="display: none"
        >
          <label for="copies">
            Copies:
            <input
              type="number"
              id="copies"
              name="copies"
              min="0"
              step="1"
            />
          </label>
        </div>
      </div>

      {% if query2_1 %}
      <ul
        class="scrollbox"
        style="max-height: 600px"
      >
        {% for book in query2_1 %}
        <li class="product">
          <div style="margin-right: 7px">
            <img
              src="{{query2_1help[loop.index0]}}"
              alt="{{ book[1] }}"
              height="100"
            />
          </div>
          <div>
            <h5><a href="/books/{{book[2]}}">{{ book[3] }}</a></h5>
            <p>{{book[1]}}</p>
          </div>
        </li>
        {% endfor %} {% endif %}
      </ul>
    </div>
  </form>

  <!--3.2.3 Average Rating -->
  <form
    action="/run-query"
    method="post"
  >
    <div class="form-group">
      <button
        type="submit"
        name="query2.3"
        class="btn btn-primary"
      >
        Average Rating
      </button>
      <h6 style="text-align: left; text-decoration-line: underline">
        Filter by:
      </h6>
      <div>
        <label>
          <input
            type="checkbox"
            name="userCheckbox"
            onchange="toggleInputs3()"
          />
          User
        </label>
        <label>
          <input
            type="checkbox"
            name="categoryCheckbox2"
            onchange="toggleInputs3()"
          />
          Category
        </label>
        <div
          id="userInput"
          style="display: none"
        >
          <label for="user">
            User:
            <select
              id="user"
              name="user"
            >
              {% for user in school_users %}
              <option value="{{user[0]}}">{{user[1]}} ({{user[0]}})</option>
              {% endfor %}
            </select>
          </label>
        </div>
        <div
          id="categoryInput2"
          style="display: none"
        >
          <label for="category">
            Category:
            <select
              id="category"
              name="category"
            >
              {% for category in categories %}
              <option value="{{category}}">{{category}}</option>
              {% endfor %}
            </select>
          </label>
        </div>
      </div>
      {% if query2_3 %}
      <p>{{query2_3[1]}} <b>Average Rating: </b>{{query2_3[0]}}</p>
      {% endif %}
    </div>
  </form>
</div>
<script>
  document.getElementById("copiesInput").addEventListener("input", function () {
    var value = parseInt(this.value);
    if (isNaN(value) || value < 0) {
      this.setCustomValidity("Please enter a positive integer.");
    } else {
      this.setCustomValidity("");
    }
  });
</script>
{% endblock %}
