{% extends "base2.html" %}{% block title %}Queries{% endblock %} {% block navbar
%} {% if role == 'school_admin' %}
<a
  class="nav-item nav-link"
  id="school-admin"
  href="/school-admin"
  >School Admin</a
>
{% endif %} {% endblock %}{% block content %}
<h1 align="center">Advanced Tools</h1>
<div class="container">
  <form
    action="/run-query"
    method="post"
  >
    <div class="form-group">
      <button
        type="submit"
        name="query1.1"
        class="btn btn-primary"
      >
        Rents per School
      </button>
      <div>
        <label>
          <input
            type="checkbox"
            name="yearCheckbox"
            onchange="toggleInputs()"
          />
          Select Year
        </label>

        <label>
          <input
            type="checkbox"
            name="monthCheckbox"
            onchange="toggleInputs()"
          />
          Select Month
        </label>

        <div
          id="yearInput"
          style="display: none"
        >
          <label for="year">
            Year:
            <input
              id="year"
              type="number"
              name="year"
              min="1950"
              max="2025"
            />
          </label>
        </div>

        <div
          id="monthInput"
          style="display: none"
        >
          <label for="month">
            Month:
            <input
              id="month"
              type="month"
              name="month"
            />
          </label>
        </div>
      </div>

      <ul>
        {% if query1_1 %} {% for query in query1_1 %}
        <li>{{query[0]}} | {{query [1]}}</li>
        {% endfor %} {% endif %}
      </ul>
    </div>
  </form>
  <form
    action="/run-query"
    method="post"
  >
    <div class="form-group">
      <button
        type="submit"
        name="query1.2"
        class="btn btn-primary"
      >
        Filter by Categories
      </button>
      <select
        id="category"
        name="category"
      >
        {% for category in categories %}
        <option value="{{category}}">{{category}}</option>
        {% endfor %}
      </select>
      {% if query1_2 %}
      <br /><br />
      <h6 style="text-align: left; text-decoration-line: underline">
        Writers inside
        <span style="color: navy">"{{q2_category}}"</span> category:
      </h6>
      <ul>
        {% for query in query1_2 %}
        <li>{{query[0]}} {{query[1]}}</li>
        {% endfor %}
      </ul>
      <br /><br />
      <h6 style="text-align: left; text-decoration-line: underline">
        Teachers that have rented from<span style="color: navy">
          "{{q2_category}}"</span
        >
        category the past year:
      </h6>
      <ul>
        {% for query in query1_2help %}
        <li>{{query[0]}} {{query[1]}}</li>
        {% endfor %} {% endif %}
      </ul>
    </div>
  </form>
</div>

{% endblock %}
